// 颜色
$color-primary = #1AAD19; // 主色
$color-warning = #F85; // 警告色
$color-danger = #FF6969; // 危险色

// 链接颜色
$color-link = #586C94; // 链接颜色

// 文字颜色
$color-text-base = #000000;
$color-text-secondary = #A4A9B0;
$color-text-danger = $color-danger;
$color-text-placeholder = #BBB;
$color-text-caption = #888;
$color-text-paragraph = #333;

// 边框颜色
$color-line-light = #E5E5E5;
$color-line-dark = #BCBAB6;

// 背景颜色
$fill-base = #FFF;
$fill-body = #F5F5F9;
$fill-tap = #DDD;
$fill-mask = rgba(0, 0, 0, 0.4);

// 字体尺寸
$font-size-caption-xs = 10px;
$font-size-caption-sm = 12px;
$font-size-base = 14px;
$font-size-subhead = 15px;
$font-size-caption = 16px;
$font-size-heading = 17px;

// 圆角
$radius-xs = 2px;
$radius-sm = 3px;
$radius-md = 5px;
$radius-lg = 7px;
$radius-circle = 50%;

// 水平间距
$h-spacing-xs = 2px;
$h-spacing-sm = 5px;
$h-spacing-md = 8px;
$h-spacing-lg = 15px;
$h-spacing-xl = 21px;

// 垂直间距
$v-spacing-xs = 3px;
$v-spacing-sm = 6px;
$v-spacing-md = 9px;
$v-spacing-lg = 15px;
$v-spacing-xl = 21px;

// 透明度
$opacity-disabled = 0.3;

// z-index
$popover-z-index = 4000;
$tab-bar-z-index = 4500;
// Popup 组件的默认起始 z-index 是 5000
$image-viewer-z-index = 5500;

// 按钮
$button-height = 46px;
$button-font-size = 18px;
$button-height--mini = 29px;
$button-font-size--mini = 13px;

// 选择器
$choose-size = 22px;

// 操作栏
$action-bar-height = 50px;

// 打分
$rate-font-size = 21px;
$rate-star-color = #E8E8E8;
$rate-star-selected-color = #FADB14;

// 开关
$switch-width = 51px;
$switch-height = 31px;

// 徽标
$badge-font-size = 12px;
$badge-h-padding = 3px;
$badge-height = $badge-font-size + ($badge-h-padding * 2);
$badge-dot-size = 8px;

// 标签栏
$tab-bar-font-size = 10px;
$tab-bar-icon-size = 22px;
$tab-bar-height = 50px;

// 通告栏
$notice-bar-font-size = 14px;
$notice-bar-height = 36px;
$notice-bar-font-color = $color-warning;
$notice-bar-bg-color = #FEFCEC;

// 计数器
$counter-height = 30px;

// 标签栏
$tabs-font-size = $font-size-subhead;
$tabs-height = 43px;

// 气泡
$popover-arrow-size = 6px;

// 提示
$tip-bg-color = rgba(black, 70%);
