@require '../settings';

.field {
  :global {
    .l-list-item-title, .l-list-item-desc {
      ellipsis: 1;
    }
  }
  &.multiple-line {
    :global {
      .l-list-item-left {
        align-self: flex-start;
      }
    }
  }
  &.left {
    :global(.l-list-item-value) {
      text-align: left;
    }
  }
  &.center {
    :global(.l-list-item-value) {
      text-align: center;
    }
  }
  &.right {
    :global(.l-list-item-value) {
      text-align: right;
    }
  }
  &.required {
    &::after {
      content: '*';
      position: absolute;
      left: ($h-spacing-lg / 2);
      font-size: $font-size-base;
      color: $color-danger;
    }
    &.multiple-line {
      &::after {
        top: 9px;
      }
    }
  }
}

.error {
  :global {
    .l-list-item-value, .l-list-item-extra {
      color: $color-danger;
    }
  }
}

.error-tip {
  margin-left: $h-spacing-sm;
  font-size: 18px;
}
