@require '../settings';

.hairline {
  hairline(all);
}

.no-t {
  hairline-remove(top);
}

.no-r {
  hairline-remove(right);
}

.no-b {
  hairline-remove(bottom);
}

.no-l {
  hairline-remove(left);
}

.no-a {
  hairline-remove(all);
}
